html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#wrapper {
  padding: 20px
}

#wrapper table {
  border-collapse: collapse;
}

#wrapper td {
  vertical-align: top;
  padding: 10px;
  border: 1px solid black;
  height: 50%;
  width: 50%;
  position: relative;
}

#editor-table {
  width: 100%;
  height: 90%;
}

#editor-headings {
  height: 20px;
}

#editor-row {
  height: 100%
  width: 100%;
}

#editor-row td {
  width: 25%;
  display: inline-block;
  position: relative;
}

.editor {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

#code-area {
  position: relative;
}

#fiddle-area iframe {
  height: 100%;
  width: 100%;
}

#compiling-notification {
  display: none
}
