html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#wrapper {
  padding: 20px
}

#wrapper table {
  border-collapse: collapse;
}

#main-table {
  width: 100%;
}

#main-table td {
  padding: 0;
}

#fiddle-td {
  width: 50%;
}

#accordion, #fiddle-area {
  height: 100%;
  width: 100%;
}

#accordion {
  position: relative;
  display: none;
}

#accordion > div {
  height: 500px;
  display: relative;
}

#fiddle-area {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: inline-block;
}

#fiddle-area iframe {
  height: 100%;
  width: 100%;
}

#compiling-notification {
  display: none
}

example {
  display: none;
}
