{
  "amqpHost":  "",
  "amqpUser":  "",
  "amqpPass":  "",
  "redisHost": "",
  "redisUser": "",
  "redisPass": "",
  "pgHost":    "",
  "pgPort":    "",
  "pgUser":    "",
  "pgPass":    "",
  "pgDb":      ""
}
